[submodule "vim-pathogen"]
	path = vim-pathogen
	url = https://github.com/tpope/vim-pathogen
[submodule "vim-colors-solarized"]
	path = vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule "ack.vim"]
	path = ack.vim
	url = https://github.com/mileszs/ack.vim.git
[submodule "tlib_vim"]
	path = tlib_vim
	url = https://github.com/tomtom/tlib_vim.git
[submodule "vim-addon-mw-utils"]
	path = vim-addon-mw-utils
	url = https://github.com/MarcWeber/vim-addon-mw-utils.git
[submodule "vim-commentary"]
	path = vim-commentary
	url = https://github.com/tpope/vim-commentary.git
[submodule "vim-fugitive"]
	path = vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "vim-surround"]
	path = vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "Better-CSS-Syntax-for-Vim"]
	path = Better-CSS-Syntax-for-Vim
	url = https://github.com/vim-scripts/Better-CSS-Syntax-for-Vim.git
[submodule "delimitMate"]
	path = delimitMate
	url = https://github.com/Raimondi/delimitMate
[submodule "tagbar"]
	path = tagbar
	url = https://github.com/majutsushi/tagbar.git
[submodule "Command-T"]
	path = Command-T
	url = https://github.com/wincent/Command-T.git
[submodule "zencoding-vim"]
	path = zencoding-vim
	url = https://github.com/mattn/zencoding-vim.git
[submodule "ultisnips"]
	path = ultisnips
	url = https://github.com/SirVer/ultisnips.git
[submodule "funcoo.vim"]
	path = funcoo.vim
	url = https://github.com/rizzatti/funcoo.vim.git
[submodule "dash.vim"]
	path = dash.vim
	url = https://github.com/rizzatti/dash.vim.git
